# OS / Editor junk

.DS_Store
Thumbs.db
*.swp
*.swo
*.tmp
*~


# Rust / Cargo

target/
**/target/
Cargo.lock


# Build outputs

build/
iso/
axiom.iso
*.iso


# Object / binary files

*.o
*.bin
*.elf


# Debug / temp files

*.log
*.out


# Backup files

*.save


# VSCode / IDE

.vscode/
.idea/


# QEMU / runtime artifacts

*.img
*.qcow2
